.wrapper {
  flex: 1 1 100%;
  width: 100%;
  .section {
    width: 100%;
    margin: {
      top: base.pix-to-rem(32);
    }
    .element {
      padding: {
        right: base.pix-to-rem(24);
        left: base.pix-to-rem(24);
      }
    }
    .text {
      margin-top: base.pix-to-rem(16);
      font-size: base.type-scale('body');
    }
  }

  .wrapperBackButton {
    padding: {
      top: base.pix-to-rem(24);
      right: base.pix-to-rem(24);
      left: base.pix-to-rem(24);
    }
    .backButton {
      font-size: base.type-scale('body');
    }
  }
}
