.wrapper {
  flex: 1 1 100%;
  width: 100%;
  .section {
    width: 100%;
    margin: {
      top: base.pix-to-rem(32);
    }
    .element {
      padding: {
        right: base.pix-to-rem(24);
        left: base.pix-to-rem(24);
      }
    }
    .text {
      margin-top: base.pix-to-rem(16);
      font-size: base.type-scale('body');
    }
  }

  .linkList {
    display: grid;
    gap: base.pix-to-rem(8);
    grid-template-columns: 1fr;
    margin: {
      top: base.pix-to-rem(16);
    }
    padding: {
      right: base.pix-to-rem(24);
      left: base.pix-to-rem(24);
    }

    font-size: base.type-scale('body');
    .li {
      display: block;
    }
    .button {
      display: flex;
    }
  }
}
