// Library =====================================
@use 'destyle.css/destyle';

// Style Instance ==============================
html {
  color: base.colors('font');
  background-color: base.colors('background');
  font: {
    family: base.type-family('normal');
    feature-settings: base.fonts('kerning');
    size: #{base.$root-font-size}px;
    weight: base.fonts('normal');
  }
}

// animation ===============================
// SEE: https://jp.vuejs.org/v2/guide/transitions.html#トランジションクラス
// SEE: https://blogs.adobe.com/japan/cc-web-ui-ux-animation-principles-tips-tricks-best-practices/

// Enter
$out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
.v-enter {
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}
.v-enter-active {
  transition: opacity 1s $out-cubic;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: opacity 0.3s $out-cubic;
}

// Leave
$in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);
.v-leave {
  opacity: 1;
}
.v-leave-to {
  opacity: 0;
}
.v-leave-active {
  transition: opacity 2s $in-cubic;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: opacity 0.3s $in-cubic;
}
