.footer {
  padding: {
    top: base.pix-to-rem(32);
    right: base.pix-to-rem(24);
    bottom: base.pix-to-rem(32);
    left: base.pix-to-rem(24);
  }

  font-size: base.type-scale('body');
  font-weight: base.type-weight('body');
  color: base.colors('white');
  background-color: base.colors('inverted');
}

.copy {
  padding: {
    top: base.type-scale('body');
  }

  margin-top: base.type-scale('body');
  font-size: base.type-scale('caption');
  font-weight: base.type-weight('caption');
  text-align: center;
  border-top: 1px solid base.colors('whiteAlpha');
}

.rowMobile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 2em;

  &:not(:first-of-type) {
    margin-top: base.pix-to-rem(16);
  }

  > dt {
    flex: 1 1 100%;
    margin-bottom: base.pix-to-rem(4);
  }
}
