.wrapper {
  display: block;
  margin-top: base.pix-to-rem(16);

  .generatedList {
    $gap: base.pix-to-rem(4);

    display: flex;
    flex-wrap: wrap;
    margin: -$gap;
    .li {
      flex: 0 0 auto;
      margin: $gap;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: base.pix-to-rem(40);
  padding: 0 base.pix-to-rem(8);
  font-size: base.type-scale('body');
  color: base.colors('green');
  text-decoration: none;
  word-wrap: break-word;
  border: 1px solid base.colors('green');
  border-radius: base.pix-to-rem(4);
  font-feature-settings: normal;

  &:hover {
    color: base.colors('white');
    background-color: base.colors('green');
  }
}
