.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: base.pix-to-rem(8);
  margin-top: base.pix-to-rem(16);
  .li {
    display: block;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: base.pix-to-rem(40);
  font-size: base.type-scale('body');
  color: base.colors('green');
  text-decoration: none;
  word-wrap: break-word;
  border: 1px solid base.colors('green');
  border-radius: base.pix-to-rem(4);

  &:hover {
    color: base.colors('white');
    background-color: base.colors('green');
  }
}
