.title {
  text-align: center;
}

.wrapper {
  flex: 1 1 100%;
  width: 100%;
}

.section {
  width: 100%;
  margin: {
    top: base.pix-to-rem(48);
  }
}
.element {
  padding: {
    right: base.pix-to-rem(24);
    left: base.pix-to-rem(24);
  }
}
.text {
  margin-top: base.pix-to-rem(16);
  font-size: base.type-scale('body');
  line-height: base.fonts('lineHeight');
  text-align: left;
}
