.title {
  text-align: center;
}

.image {
  width: 100%;
}

.section {
  width: 100%;
  margin: {
    top: base.pix-to-rem(32);
  }
  padding: {
    right: base.pix-to-rem(16);
    left: base.pix-to-rem(16);
  }
}
