.title {
  text-align: center;
}

.wrapper {
  flex: 1 1 100%;
  width: 100%;
}

.section {
  width: 100%;
  margin: {
    top: base.pix-to-rem(32);
  }
  .element {
    padding: {
      right: base.pix-to-rem(16);
      left: base.pix-to-rem(16);
    }
  }
}
