.wrapper {
  flex: 1 1 100%;
  width: 100%;
  .section {
    width: 100%;
    margin: {
      top: base.pix-to-rem(32);
    }
    .sectionTitle {
      margin-bottom: base.pix-to-rem(16);
      padding: {
        right: base.pix-to-rem(24);
        left: base.pix-to-rem(24);
      }
    }
  }

  .theName {
    margin: 0 auto;
    font-size: base.type-scale('extra');
    font-weight: base.type-weight('extra');
    writing-mode: vertical-rl;

    padding: {
      top: base.pix-to-rem(24);
      right: base.pix-to-rem(24);
      bottom: base.pix-to-rem(24);
      left: base.pix-to-rem(24);
    }
  }

  .linkList {
    display: grid;
    gap: base.pix-to-rem(8);
    grid-template-columns: repeat(2, 1fr);
    padding: {
      right: base.pix-to-rem(24);
      left: base.pix-to-rem(24);
    }

    font-size: base.type-scale('body');
    .li {
      display: block;
    }
    .button {
      display: flex;
    }
  }

  .wrapperBackButton {
    padding: {
      top: base.pix-to-rem(32);
      right: base.pix-to-rem(24);
      left: base.pix-to-rem(24);
    }
    .backButton {
      font-size: base.type-scale('body');
    }
  }
}
