.buttonContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: base.pix-to-rem(8);
  margin-top: base.pix-to-rem(16);
  .li {
    display: block;
  }
  .spacer1 {
    grid-row: 3;
    grid-column: 2;
  }
  .spacer2 {
    grid-row: 3;
    grid-column: 4;
  }
  .spacer3 {
    grid-row: 5;
    grid-column: 2;
  }
  .spacer4 {
    grid-row: 5;
    grid-column: 4;
  }
}

.multipleSelectWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: base.pix-to-rem(8);
  margin-top: base.pix-to-rem(16);
  .li {
    display: block;
  }
}
