@mixin element-padding {
  padding: {
    right: base.pix-to-rem(24);
    left: base.pix-to-rem(24);
  }
}

.wrapper {
  flex: 1 1 100%;
  width: 100%;
  .section {
    width: 100%;
    margin: {
      top: base.pix-to-rem(32);
    }
    .sectionTitle {
      margin-bottom: base.pix-to-rem(16);
      @include element-padding;
    }
  }

  .theName {
    width: 1em;
    margin: 0 auto;
    font-size: base.type-scale('extra');
    font-weight: base.type-weight('extra');
    line-height: 1;
    writing-mode: vertical-rl;

    padding: {
      top: base.pix-to-rem(24);
      bottom: base.pix-to-rem(24);
    }
  }

  .linkList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: base.pix-to-rem(8);
    font-size: base.type-scale('body');
    @include element-padding;
    .li {
      display: block;
    }
    .button {
      display: flex;
    }
  }

  .shareUrl {
    @include element-padding;

    margin-top: base.pix-to-rem(16);
    font-size: base.type-scale('body');

    .urlBox {
      padding: base.pix-to-rem(8) base.pix-to-rem(16);
      background-color: base.colors('gray');
      border-radius: base.pix-to-rem(4);
    }
    .button {
      display: flex;
      width: base.pix-to-rem(200);
      margin: base.pix-to-rem(8) auto 0;
    }
    .fail,
    .success {
      padding: base.pix-to-rem(8) base.pix-to-rem(16);
      margin-top: base.pix-to-rem(8);
      text-align: center;
      border-radius: base.pix-to-rem(4);
    }
    .fail {
      background-color: base.colors('alert');
    }
    .success {
      background-color: base.colors('success');
    }
  }
}
